{
    "extends": "@hapi/eslint-config-hapi",
    "parserOptions": {
        "ecmaVersion": 9
    },
    "rules": {
        "consistent-this": [
            2,
            "self",
            "world"
        ],
        "comma-dangle": ["error", "only-multiline"],
        "padding-line-between-statements": "off"
    }
}